.nav-ul {
  width: 50%;
  justify-content: right;
  gap: 1.5rem;
  align-items: center;
}
.search-form {
  width: 100%;
  position: relative;
}

.search-input {
  width: 100%;
  border-radius: 100px;
  padding: 0.5rem 3.6rem 0.5rem 0.5rem;
  font-size: 1.4rem;
}

.search-btn {
  padding: .35rem;
  font-size: 1.2rem;
  border-radius: 50%;
  position: absolute;
  top: .2rem;
  right: .5rem;
}

.search-btn:hover{
  cursor: pointer;
}

.section-show {
  height: calc(100% - 68.1333px);
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
}

.option {
  background-color: rgb(202, 202, 202);
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  overflow: hidden;
}

.option a {
  /* border: 1px dotted red; */
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: black;
  /* background-color: aqua; */
  transition: all 0.3s;
}

.option a:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  transform: scale(1.13);
}

.staff-count{
  display: flex;
  justify-content: center;
  align-items: center;
}

.count-main{
  background-color: rgb(202, 202, 202);
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2rem;
  font-size: 1.8rem;
  box-shadow: 0 7px 20px rgb(0, 0, 0);
  border: 3px solid white;
}

.count-span{
  font-weight: normal;
}

.count-title{
  grid-column: 1 / span 2;
  text-align: center;
  background-color: #fff;
}

.show-span{
  background-color: red;
  color: #fff;
  padding: .1rem .8rem;
  border-radius: 50%;
  font-weight: bold;
}

/* End */