.section-schedule{
  height: calc(100% - 68.1333px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.schedule-main{
 background-color: rgb(207, 207, 207); 
 display: grid;
 grid-template-columns: repeat(2,1fr);
 padding: 1rem;
 gap: 3rem;
 font-size: 2rem;
 box-shadow: 0 7px 20px rgb(0, 0, 0);
 border: 3px solid white;
}

.schedule-title{
  grid-column: 1 / span 2;
  text-align: center;
  background-color: #ffffff;
}

.schedule-failed{
  grid-column: 1 / span 2;
  text-align: center;
  font-size: 2.4rem;
  color: red;
}

.schedule-span{
  font-weight: bold;
}

.staff-btn{
  grid-column: 1 / span 2;
  width: 25rem;
  margin: 0 auto;
  padding: 1rem;
  background-color: #fff;
  border: none;
  transition: all .3s;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
}

.staff-btn:hover{
  transform: translateY(-.8rem);
  color: #fff;
  background-color: black;
  cursor: pointer;
}

.staff-btn:active{
  transform: translateY(0rem);
}

.change-schedule{
  position: absolute;
  background-color: rgb(207, 207, 207);
  top: 50%;
  right: 50%;
  transform: translate(50%,-50%);
  padding: 1rem;
  display: none;
  /* position: relative; */
  transition: all .3s;
  width: 50rem;
  font-size: 1.3rem;
  border: 3px solid white;
  box-shadow: 0 7px 10px gray;
}

.change-div{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.change-btn-div{
  text-align: right;
}

.change-btn{
  padding: .7rem 1.2rem .8rem 1.2rem;
  font-size: 1.6rem;
  font-weight: bold;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  transition: all .3s;
}

.change-btn:hover{
  cursor: pointer;
  background-color: black;
  color: white;
  transform: rotate(360deg);
}


.account-failed {
  color: red;
  text-align: center;
}

.account-input {
  padding: 0.5rem;
  font-size: 1.6rem;
  resize: none;
  background-color: #fff;
}

.account-btn {
  padding: 0.8rem;
  border: none;
  font-size: 1.6rem;
  width: 8rem;
  border-radius: 5px;
  margin: 0 auto;
  transition: all 0.3s;
  background-color: white;
  font-weight: bold;
}

.account-btn:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

/* End */