{% extends 'base.html' %} {%block title %} Jail Management System {%endblock%}
{%block navImg%} <img class="nav-img" src="/static/img/navlogo.png" alt="Prison Logo"> {%endblock%}
{%block navTitle%} Jail Management {%endblock%} {%block css%}
{{url_for('static', filename='style.css')}} {%endblock%}
 {%block staffSchedule%}
{{url_for('static', filename='staffSchedule.css')}} {%endblock%} {%block nav%}
<li><a class="nav-a" href="{{url_for('login')}}">Logout</a></li>
{%endblock%} {%block content%} {% include 'scheduleNormal.html' %} {%endblock%}


<!-- End-->
